{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of News</title>
    <link rel="stylesheet" href="{% static "blogs/css/bootstrap.css" %}"/>
    <link rel="stylesheet" href="{% static "blogs/css/bootstrap-theme.css" %}"/>
</head>
<body>
{% if posts %}
    <h3>News  List</h3>
    <table class="table">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Created</th>
            <th scope="col">Description</th>
            <th scope="col">Created by</th>
            <th scope="col"></th>
        </tr>
        {% for post in posts %}
            <tr>
                <td scope="row">{{ post.title }}</td>
                <td>{{ post.data_created }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.created_by }}</td>
                {% if request.user in post.users_by_read.all %}
                    <td><a href="{% url 'mark_as_read' post.id %}" class="btn btn-primary">Not Read</a></td>
                {% else %}
                    <td><a href="{% url 'mark_as_read' post.id %}" class="btn btn-primary">Read already</a></td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>
{% else %}
    <h3>News list is empty</h3>
{% endif %}
<script src={% static 'blogs/js/bootstrap.js' %}></script>
<script src={% static 'blogs/js/main.js' %}></script>
</body>
</html>